.App {
  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
}

img {
  position: static;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

button {
  position: relative;
  right: 150px;
  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #fffff;
  color: white;
  margin-bottom: 30px;
}

button:hover {
  background-color: #45a049;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
}
